<div>
    <p id='updatemsg'>
        Create a simple network with some nodes and edges.
    </p>
    <div class="container-fluid" id="mainpanelgroup">
        <div class="row">
            <div class="col-sm-2">
                <button type="button" class="btn btn-success"
                    onclick="EventBus.dispatch('saveGraph')">Save</button>
                <button type="button" class="btn btn-success" onclick="EventBus.dispatch('readNode')">+ Add
                    Node</button>
            </div>
            <div class="col-sm-2 ">

                <span class="fa fa-search form-control-feedback col-sm-1"></span>
                <input type="text" id="searchtag" class="form-control  col-sm-5" placeholder="search tag">
                <div class="custom-control custom-switch  col-sm-6">
                    <input type="checkbox" class="custom-control-input" id="tagContextGlobal" value="false">
                    <label class="custom-control-label" for="tagContextGlobal">Global</label>
                </div>
            </div>
            <div class=" col-sm-3">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="neighbouringNodesSwitch">
                    <label class="custom-control-label" for="neighbouringNodesSwitch">Display Only Neighbouring
                        Nodes</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">

                <div id="mynetwork"></div>
            </div>
            <div class="col-sm-3" id="panel">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="proppanel-tab" data-toggle="tab" href="#proppanel" role="tab"
                            aria-controls="proppanel" aria-selected="true">Properties</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="grapheditorpanel-tab" data-toggle="tab" href="#grapheditorpanel"
                            role="tab" aria-controls="grapheditorpanel" aria-selected="false">Graph Editor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="customize-tab" data-toggle="tab" href="#customize" role="tab"
                            aria-controls="customize" aria-selected="false">Node Customize</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="advancedactions-tab" data-toggle="tab" href="#advancedActions" role="tab"
                            aria-controls="advancedactions" aria-selected="false">Advance Actions</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="proppanel" role="tabpanel"
                        aria-labelledby="proppanel-tab">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Property</th>
                                    <th scope="col">Value</th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody id="properties"></tbody>
                        </table>
                        <button type="button" class="btn btn-success"
                            onclick="EventBus.dispatch('openNode')">Open</button>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">+
                            Add</button>
                    </div>
                    <div class="tab-pane fade" id="grapheditorpanel" role="tabpanel"
                        aria-labelledby="grapheditorpanel-tab">

                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal2">Delete
                            Node</button>
                        <button type="button" class="btn btn-success" onclick="EventBus.dispatch('readNode')">+ Edit
                            Node</button>
                        <button type="button" class="btn btn-success" onclick="EventBus.dispatch('readEdge')">+ Add
                            Relation</button>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Relation</th>
                                    <th scope="col">To</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="edges"></tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="customize" role="tabpanel" aria-labelledby="customize-tab">

                        Select your favorite color: <input type="color" id="customizecolor" name="favcolor"
                            value="#ff0000"><br>
                        Tags: <input data-role="tagsinput" id="tags" value=""><br><br>
                        <button type="button" class="btn btn-success"
                            onclick="EventBus.dispatch('customizeNode')">Update</button>
                    </div>
                    <div class="tab-pane fade" id="advancedactions" role="tabpanel" aria-labelledby="advancedactions-tab">
                        <div class="form-group">
                            <label for="advancedactions">Change Parent:</label>
                            <select class="form-control fstdropdown-select" id="changeparent"></select>
                            <input id="changeparentValue"  type="hidden"/>
                        </div>
                        <br><br>
                        <button type="button" class="btn btn-success"
                            onclick="EventBus.dispatch('advancedactions')">Update</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" id="generalpanel">
                <button type="button" class="btn btn-success" onclick="EventBus.dispatch('closeNode')">Back</button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add/Edit Property</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="Property">Property:</label>
                            <input type="Property" class="form-control" id="Property">
                        </div>
                        <div class="form-group">
                            <label for="Value">Value:</label>
                            <input type="Value" class="form-control" id="Value">
                        </div>
                        <div class="form-group">
                            <label for="Date">Date:</label>
                            <input type="text" data-date-format="yyyy-MM-dd" class="form-control" id="Date">
                        </div>
                        <!--<div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                  </div>-->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success"
                        onclick="EventBus.dispatch('addPropperty')">addProperty</button>

                </div>
            </div>

        </div>
    </div>
    <!-- Modal End-->
    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirm Delete</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>This can not be undo, Are you sure to delete this node?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="EventBus.dispatch('removeNode')">Delete
                        Node</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal3" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add/Edit Edge</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="Edge">Edge:</label>
                            <!--<input class="form-control" id="Edge">-->
                            <select class="form-control fstdropdown-select" id="Edge"></select>
                        </div>
                        <div class="form-group ui-widget">
                            <label for="EdgeValue">EdgeValue:</label>
                            <input class="form-control" id="EdgeValue">
                        </div>
                        <!--<div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                  </div>-->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="EventBus.dispatch('addEdge')">+ Add
                        Edge</button>

                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <!-- Modal End-->
    <div class="modal fade" id="myModal4" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Node</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="NodeName">Node:</label>
                            <input type="Value" class="form-control" id="NodeName">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="EventBus.dispatch('addNode')">Edit
                        Node</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End-->
    <link href="Content/tagsinput.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="Scripts/tagsinput.js"></script>
    <script type="text/javascript" src="Scripts/graphExplorer.js"></script>
    <style>
        .bootstrap-tagsinput .badge {
            margin-left: 2px;
            margin-right: 2px;
            font-size: 17px;
        }
    </style>
</div>